openapi: 3.2.0
info:
  title: Leeds Digital Library — and OpenSearch OAI PMH API
  version: '2.0'
  summary: Metadata harvesting and search interfaces for the University of Leeds Digital Library.
  description: 'The Leeds Digital Library (digital.library.leeds.ac.uk, 129.11.78.169 — University of Leeds address space) is a second, separate EPrints deployment holding digitised Special Collections material: Bronte, incunabula, Liddle Collection, cookery, history of science, the Leeds Permanent Library and others.'
  contact:
    name: University of Leeds Libraries — Digital Library
    email: j.beaman@leeds.ac.uk
    url: https://digital.library.leeds.ac.uk/
  x-operator: institution
  x-operator-evidence: Host digital.library.leeds.ac.uk is under leeds.ac.uk and resolves to 129.11.78.169, University of Leeds address space. OAI adminEmail and OpenSearch Contact are both @leeds.ac.uk. Self-hosted EPrints, not a vendor tenancy.
  x-provenance:
    generated: '2026-08-30'
    method: derived
    source: Derived from live responses probed 2026-08-30 — https://digital.library.leeds.ac.uk/cgi/oai2?verb=Identify (HTTP 200) and https://digital.library.leeds.ac.uk/cgi/opensearchdescription (HTTP 200, OpenSearch 1.1). Soft-200 on /cgi/iiif/manifest/{id} confirmed across six identifiers and excluded.
servers:
- url: https://digital.library.leeds.ac.uk/cgi
  description: Production (institution-operated EPrints)
security: []
tags:
- name: oai pmh
  description: Open Archives Initiative Protocol for Metadata Harvesting 2.0.
paths:
  /oai2:
    get:
      operationId: digitalLibraryOaiRequest
      summary: Issue an OAI-PMH 2.0 request against the Digital Library
      tags:
      - oai pmh
      security: []
      parameters:
      - name: verb
        in: query
        required: true
        schema:
          type: string
          enum:
          - Identify
          - ListMetadataFormats
          - ListSets
          - ListIdentifiers
          - ListRecords
          - GetRecord
      - name: metadataPrefix
        in: query
        required: false
        schema:
          type: string
          examples:
          - oai_dc
      - name: identifier
        in: query
        required: false
        schema:
          type: string
          examples:
          - oai:digital.library.leeds.ac.uk:1705
      - name: set
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: until
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: resumptionToken
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OAI-PMH XML response, or an `<error>` element at HTTP 200.
          content:
            text/xml:
              schema:
                type: string
                contentMediaType: text/xml
